body {
  font-family: "Segoe UI", sans-serif;
}

.navbar-brand {
  font-weight: 600;
}

.hero-text h1 {
  font-size: 3rem;
}

.card {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1); /* optional shadow for login card */
}

footer {
  font-size: 0.9rem;
}
